.calendar,
.calendar * {
    border: none;
}

.ContributionCalendar-day {
    border: #544072 2px solid;
}

.js-calendar-graph {
    font-size: 10px;
}

tbody:before {
    content: "@";
    display: block;
    line-height: 5px;
    text-indent: -99999px;
}

.f6 {
    display: none;
}

:root {
    --color-calendar-graph-day-bg: rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    
    20% {
        opacity: 0.1;
        transform: translateY(24px);
    }
    
    40% {
        opacity: 0.3;
        transform: translateY(18px);
    }

    60% {
        opacity: 0.6;
        transform: translateY(12px);
    }
    
    80% {
        opacity: 0.85;
        transform: translateY(6px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 0.7s ease-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.9);
    }
    
    60% {
        transform: scale(1.02);
    }
    
    80% {
        transform: scale(0.99);
    }
    
    100% {
        transform: scale(1.0);
    }
}

.scale-up {
    animation: scaleUp 1s ease-out;
}